{{> head }}
  {{> navbar }}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 class="">Black Goku</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Dolore, voluptatibus. Ex voluptatum cum incidunt magnam culpa accusantium nisi quidem voluptates ea! Libero, ab.
                Non aut tenetur adipisci suscipit dignissimos ipsam.</p>
            </div>
            <div class="col-4">
                <img src="assets/img/Black-Goku.png" class="img-thumbnail" alt="Imagen :(">            
            </div>
        </div>
    </div>
  {{> footer }}